/* line 5, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
#navbar {
  background-color: #333; /* Black background color */
/*position: fixed; /* Make it stick/fixed */
/*top: 0; /* Stay on top */
/*  width: 100%; /* Full width */
/*transition: top 0.3s; /* Transition effect when sliding down (and up) */
/*}

/* Style the navbar links */
/*#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
*/
/* Fixed header and footer.
* --------------------------------------- */
/* line 30, ../sass/mobile/nav_m.scss */
#header, #footer {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background-color: #11ffee00;
  z-index: 9;
  padding: 20px 0 0 0;
  font-family: 'aileronsregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 47, ../sass/mobile/nav_m.scss */
nav .brand-logo {
  color: black;
}

/* line 58, ../sass/mobile/nav_m.scss */
nav ul a {
  color: black;
}

/* line 67, ../sass/mobile/nav_m.scss */
#header {
  top: 0px;
}

/* line 70, ../sass/mobile/nav_m.scss */
#footer {
  bottom: 0px;
}

/*.bgcmain{
  background-color: green;
  width:100%;
  height:4500px;
}*/
/* line 22, ../sass/style.scss */
header {
  background: url(../img/home.png) no-repeat top center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 26, ../sass/style.scss */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

/* line 31, ../sass/style.scss */
html.is-animating .transition-fade {
  opacity: 0;
}
