/*
img {
  margin: 0 auto;
}
.fourth button {
  margin-top: 20px;
}

button.btn {
  margin-top: 40px;
  border-radius: 4px;
}
*/
/* line 19, ../../sass/mobile/m_section.scss */
.rwsection0 {
  margin-top: 100px;
}

/* line 22, ../../sass/mobile/m_section.scss */
.ml1, .ml2, .ml3, .ml4 {
  height: 300px;
  width: 200px;
  background-color: black;
  border-radius: 30px;
}

/* line 34, ../../sass/mobile/m_section.scss */
.m1l2 {
  height: 200px;
  background-color: black;
  border-radius: 30px;
}

/*.section{
  position:relative;
}*/
/* line 48, ../../sass/mobile/m_section.scss */
#tryA {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* line 54, ../../sass/mobile/m_section.scss */
h2 {
  color: white;
  font-size: 1em;
  text-align: center;
}

/* line 60, ../../sass/mobile/m_section.scss */
.section-one > .fp-tableCell h2 {
  opacity: 1;
}

/* line 67, ../../sass/mobile/m_section.scss */
.section-one.active > .fp-tableCell h2 {
  transform: translateY(0);
  opacity: 1;
}
