/* line 5, ../../sass/mobile/section1_m.scss */
.ml1, .ml2, .ml3 {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 30px;
}

/* line 16, ../../sass/mobile/section1_m.scss */
.m1l2 {
  height: 200px;
  background-color: black;
  border-radius: 30px;
}

/*.section{
  position:relative;
}*/
/* line 30, ../../sass/mobile/section1_m.scss */
#tryA {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
