/*
#navbar {
  background-color: #333; /* Black background color */
/*position: fixed; /* Make it stick/fixed */
/*top: 0; /* Stay on top */
/*  width: 100%; /* Full width */
/*transition: top 0.3s; /* Transition effect when sliding down (and up) */
/*}

/* Style the navbar links */
/*#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
*/
/* line 28, ../../sass/mobile/nav_m.scss */
.logo, .logo_m {
  position: absolute;
  top: 10px;
  left: 3vw;
  height: 80px;
  width: 80px;
  z-index: 10;
}

/* line 36, ../../sass/mobile/nav_m.scss */
.logo_m {
  left: -47vw;
}

/* Fixed header and footer*/
/* line 44, ../../sass/mobile/nav_m.scss */
#header, #footer {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background-color: #11ffee00;
  z-index: 9;
  padding: 20px 0 0 0;
  font-family: 'aileronsregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 60, ../../sass/mobile/nav_m.scss */
#header {
  top: 0px;
}

/* line 63, ../../sass/mobile/nav_m.scss */
#footer {
  bottom: 0px;
}

/* line 69, ../../sass/mobile/nav_m.scss */
nav .brand-logo {
  color: black;
  opacity: 1;
}

/* Main menu positionning */
/* line 79, ../../sass/mobile/nav_m.scss */
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #1A1A1A;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
}

/* line 93, ../../sass/mobile/nav_m.scss */
.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  height: 100%;
}

/* RED band effect */
/* line 101, ../../sass/mobile/nav_m.scss */
.main-nav::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #F07176;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all .275s .1s;
}

/* line 114, ../../sass/mobile/nav_m.scss */
.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
/* line 119, ../../sass/mobile/nav_m.scss */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%;
  /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

/* line 128, ../../sass/mobile/nav_m.scss */
.main-nav li {
  display: block;
  margin: .5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
/* line 136, ../../sass/mobile/nav_m.scss */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

/* line 141, ../../sass/mobile/nav_m.scss */
.brand-logo {
  color: black;
  opacity: 1;
}

/* line 146, ../../sass/mobile/nav_m.scss */
.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}

/* line 150, ../../sass/mobile/nav_m.scss */
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}

/* line 153, ../../sass/mobile/nav_m.scss */
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}

/* line 156, ../../sass/mobile/nav_m.scss */
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}

/* line 159, ../../sass/mobile/nav_m.scss */
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}

/* line 162, ../../sass/mobile/nav_m.scss */
.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
/* line 168, ../../sass/mobile/nav_m.scss */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}

/* line 173, ../../sass/mobile/nav_m.scss */
.main-nav a {
  font-family: 'aileronsregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  display: block;
  padding: 12px 0;
  color: #1A1A1A;
  font-size: 1.4em;
  text-decoration: none;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
/* line 186, ../../sass/mobile/nav_m.scss */
.open-main-nav {
  position: absolute;
  top: 30px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}

/* line 196, ../../sass/mobile/nav_m.scss */
.open-main-nav:focus {
  outline: none;
}

/* line 199, ../../sass/mobile/nav_m.scss */
.burger {
  position: relative;
  display: block;
  width: 35px;
  height: 4px;
  margin: 0 auto;
  background: black;
  transform: skew(5deg);
  transition: all .275s;
}

/* line 210, ../../sass/mobile/nav_m.scss */
.burger:after,
.burger:before {
  content: '';
  display: block;
  height: 100%;
  background: black;
  transition: all .275s;
}

/* line 219, ../../sass/mobile/nav_m.scss */
.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

/* line 223, ../../sass/mobile/nav_m.scss */
.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
/* line 228, ../../sass/mobile/nav_m.scss */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

/* line 232, ../../sass/mobile/nav_m.scss */
.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

/* line 236, ../../sass/mobile/nav_m.scss */
.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */
/* line 243, ../../sass/mobile/nav_m.scss */
.burger-text {
  display: block;
  font-size: .675rem;
  letter-spacing: .05em;
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: black;
}

/* line 254, ../../sass/mobile/nav_m.scss */
.device {
  position: relative;
  width: 345px;
  height: 600px;
  background: #FFF;
  border: 1px solid #EEE;
  border-radius: 3px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 264, ../../sass/mobile/nav_m.scss */
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #eee, #ddd);
}

/*#fp-nav{
	position:absolute;
	bottom:0px !important;
	left:50px;
}*/
/* line 5, ../../sass/mobile/home_m.scss */
.titleAI, .titleBT {
  font-size: 22vw;
  font-family: 'aileronsregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../../sass/mobile/home_m.scss */
.titleAI {
  position: absolute;
  top: 150px;
  left: 4vw;
}

/* line 20, ../../sass/mobile/home_m.scss */
.titleBT {
  position: absolute;
  top: 280px;
  left: 30vw;
}

/* line 28, ../../sass/mobile/home_m.scss */
header {
  background: url(../img/home_m.png) no-repeat top center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 35, ../../sass/mobile/home_m.scss */
#container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 46, ../../sass/mobile/home_m.scss */
.sliderA .titleAI {
  position: absolute;
  top: 150px;
  left: 4vw;
}

/* line 54, ../../sass/mobile/home_m.scss */
.img_m_1 {
  display: block;
  position: absolute;
  height: 220px !important;
  width: 85px !important;
  top: 80vw;
  left: 6vw;
}

/* line 63, ../../sass/mobile/home_m.scss */
.img_m_2 {
  display: block;
  position: absolute;
  height: 90px !important;
  top: 100vw;
  right: 6vw;
}

/* line 73, ../../sass/mobile/home_m.scss */
.img_m_3 {
  display: block;
  position: absolute;
  height: 90px !important;
  top: 150vw;
  left: 6vw;
}

/* line 82, ../../sass/mobile/home_m.scss */
.img_m_4 {
  display: block;
  position: absolute;
  height: 220px !important;
  width: 85px !important;
  top: 130vw;
  right: 6vw;
}

/* line 91, ../../sass/mobile/home_m.scss */
.scroll_img {
  display: block;
  position: absolute;
  height: 260px !important;
  width: 55px !important;
  bottom: 0vw;
  right: 2vw;
}

/* line 101, ../../sass/mobile/home_m.scss */
#imgparalax {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 5, ../../sass/mobile/Section1_m.scss */
.ml1, .ml2, .ml3 {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 30px;
}

/* line 16, ../../sass/mobile/Section1_m.scss */
.m1l2 {
  height: 200px;
  background-color: black;
  border-radius: 30px;
}

/* line 25, ../../sass/mobile/Section1_m.scss */
.m2l1, .m2l2 {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 30px;
}

/* line 39, ../../sass/mobile/Section1_m.scss */
.m3l1, .m3l1 {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 30px;
}
