//TRY FULLPAGE ANIMATIONS => Animated css -->
/*
img {
  margin: 0 auto;
}
.fourth button {
  margin-top: 20px;
}

button.btn {
  margin-top: 40px;
  border-radius: 4px;
}
*/


//MODULE 1 LINE 1

.rwsection0{
  margin-top: 100px;
}
.ml1,.ml2,.ml3,.ml4{
  //margin-top:100px;
  height:300px;
  width:200px;
  background-color: black;
  //margin:0 20px 0 50px;
  border-radius:30px;
  //border:1px;
  //border-color: white;
}

//MODULE 1 LINE 2
.m1l2{
  height:200px;
  background-color: black;
  border-radius: 30px;
}

//*****************************

//TRY FULLPAGE ANIMATION

/*.section{
  position:relative;
}*/

#tryA{
  position:absolute;
  bottom:0px;
  right:0px;
}
/*
h2{
  color:white;
  font-size:4em;
  text-align: center;
  z-index: 10;
}
.section-one > .fp-tableCell h2 {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
}

.section-one.active > .fp-tableCell h2 {
	transform: translateY(0);
	opacity: 1;
}
*/
