


//MODULE 1 LINE 1
.ml1,.ml2,.ml3{
  height:200px;
  width:200px;
  background-color: black;
  //margin:0 20px 0 50px;
  border-radius:30px;
  //border:1px;
  //border-color: white;
}

//MODULE 1 LINE 2
.m1l2{
  height:200px;
  background-color: black;
  border-radius: 30px;
}

//*****************************

//MODULE 2 LINE 1
.m2l1,.m2l2{
  height:200px;
  width:200px;
  background-color: black;
  //margin:0 20px 0 50px;
  border-radius:30px;
  //border:1px;
  //border-color: white;
}
//MODULE 2 LINE 1

//*****************************

//MODULE 3 LINE 1
.m3l1,.m3l1{
  height:200px;
  width:200px;
  background-color: black;
  //margin:0 20px 0 50px;
  border-radius:30px;
  //border:1px;
  //border-color: white;
}
