/* line 2, ../../sass/desktop/d_section01.scss */
.rwsection0 {
  margin-top: 10px;
}

/* line 6, ../../sass/desktop/d_section01.scss */
.ml1, .ml2, .ml3, .ml4 {
  height: 300px;
  width: 200px;
  background-color: black;
  border-radius: 30px;
}
