/* line 3, ../../sass/desktop/nav_d.scss */
.titleAI, .titleBT {
  font-size: 4em;
}

/* line 8, ../../sass/desktop/nav_d.scss */
.titleAI {
  postion: absolute;
  left: 8vw;
}

/* line 13, ../../sass/desktop/nav_d.scss */
.titleBT {
  postion: absolute;
  top: 180px;
  left: 35;
}

/* line 4, ../../sass/desktop/home_d.scss */
header {
  background: url(../img/home.png) no-repeat top center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 12, ../../sass/desktop/home_d.scss */
.img_m_1, .img_m_2, .img_m_3, .img_m_4 {
  display: none;
}

/* line 2, ../../sass/desktop/d_section01.scss */
.rwsection0 {
  margin-top: 10px;
}

/* line 6, ../../sass/desktop/d_section01.scss */
.ml1, .ml2, .ml3, .ml4 {
  height: 300px;
  width: 200px;
  background-color: black;
  border-radius: 30px;
}
